.question {
    font-weight: bold;
}

@keyframes qaAnimation {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.question, .answer {
    opacity: 0;
    animation-name: qaAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}